// tools
@import './null.scss';
@import './vars.scss';
// elements
@import './header.scss';
@import './main.scss';
@import './button.scss';
@import './text-block.scss';
@import './decor.scss';
// sections
@import './sections/get-started.scss';
@import './sections/stay-safe.scss';
@import './sections/experts.scss';
@import './sections/healthcare.scss';

html, body {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: $text-color;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.__container {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
  // PC
  @media (max-width: 1087px) {
    max-width: 970px;
  }
  // Tablet
  @media (max-width: 991.98px) {
    max-width: 750px;
  }
  // Mobile 
  @media (max-width: 767.98px) {
    max-width: none;
  }
}