.text-block {
  &_center {
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }

    @media (max-width: 767.98px) {
      font-size: 34px;
    }

    // focused word
    span {
      color: #EC5863;
    }

    &_blue span {
      color: #4285F4;
    }
  }

  &__text {
    line-height: 138.5%;
    &:not(:last-child) {
      margin: 0px 0px 24px 0px;
    }

    &_max-width {
      max-width: 500px;
      margin: 0px auto;
    }
  }
}